

.easy-edit-inline-wrapper {
  margin-bottom: -15px;
}

.easy-edit-button-wrapper {
  display: flex;
  height: 30px;
  justify-content: flex-end;
}

.easy-edit-hover-on {
  cursor: pointer;
}

.easy-edit-radio-label {
  display: block;
}

.easy-edit-not-allowed {
  cursor: not-allowed;
}

.easy-edit-checkbox-label {
  display: block;
}

.easy-edit-textarea {
  min-height: 50px;
}

.easy-edit-button {
  border: none;
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 1px;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
}

.easy-edit-button--save {
  background: #1a73e8;
  color: white
}

.easy-edit-component-wrapper {
  display: inline-grid;
  height: 30px;
  width: 100%;
  font-size: 18px;
}

.easy-edit-validation-error {
  color: red;
}
